# Practical_1: Variables and Assignments

----

### Exercise 1:
Declare a variable `x` and assign it the value `10`.


```python
# Exercise 1
```

---

### Exercise 2:
Assign the value `True` to a variable called `is_valid`.

```python
# Exercise 2
```

---

### Exercise 3:
Create a string variable `name` with the value "Python Programming".

```python
# Exercise 3
```

---

### Exercise 4:
Assign the result of `5 + 3` to a variable `sum_result`.

```python
# Exercise 4
```

---

### Exercise 5:
Assign multiple variables in one line: `a = 5`, `b = 10`, `c = 15`.

```python
# Exercise 5
```

---

### Exercise 6:
Assign the value of one variable `x` to another variable `y`.

```python
# Exercise 6
```

---

### Exercise 7:
Assign a floating-point number `9.8` to a variable `gravity`.

```python
# Exercise 7
```

---

### Exercise 8:
Create a variable `country` and assign it the string value of your favorite country.

```python
# Exercise 8
```

---

### Exercise 9:
Change the value of variable `age` from `25` to `26` in two separate steps.

```python
# Exercise 9
```

---

### Exercise 10:
Use one variable to store the result of subtracting two numbers `20 - 7`.

```python
# Exercise 10
```

---

### Exercise 11:
Assign an integer value and a floating-point value to two different variables.

```python
# Exercise 11
```

---

### Exercise 12:
Assign a boolean value `False` to a variable `is_completed`.

```python
# Exercise 12
```

---

### Exercise 13:
Swap the values of two variables `x` and `y`.

```python
# Exercise 13
```

---

### Exercise 14:
Assign a complex number `3 + 4j` to a variable `complex_num`.

```python
# Exercise 14
```

---

### Exercise 15:
Reassign a variable from an integer to a string.

```python
# Exercise 15
```

---

### Exercise 16:
Create two variables `first_name` and `last_name`, and assign them your first and last names.

```python
# Exercise 16
```

---

### Exercise 17:
Create a variable `temperature` and assign it the value of `35.5`.

```python
# Exercise 17
```

---

### Exercise 18:
Assign the result of the multiplication of two numbers `8 * 6` to a variable `product`.

```python
# Exercise 18
```

---

### Exercise 19:
Assign a sentence of your choice to a variable `sentence`.

```python
# Exercise 19
```

---

### Exercise 20:
Use an assignment to convert a string `'50'` into an integer variable `int_value`.

```python
# Exercise 20
```

---

### Exercise 21:
Assign the result of dividing `144` by `12` to a variable `quotient`.

```python
# Exercise 21
```

---

### Exercise 22:
Assign the remainder of `47 divided by 5` to a variable `remainder`.

```python
# Exercise 22
```

---

### Exercise 23:
Create a variable `is_student` and assign it the value `True`.

```python
# Exercise 23
```

---

### Exercise 24:
Use a variable to store the result of a modulo operation: `45 % 4`.

```python
# Exercise 24
```

---

### Exercise 25:
Create a variable `pi` and assign it the value `3.14159`.

```python
# Exercise 25
```

---

### Exercise 26:
Create two variables `length` and `width`, assign them values, and calculate the area of a rectangle.

```python
# Exercise 26
```

---

### Exercise 27:
Assign a negative number to a variable `negative_value`.

```python
# Exercise 27
```

---

### Exercise 28:
Assign a string containing a special character (e.g., "Hello, World!") to a variable `greeting`.

```python
# Exercise 28
```

---

### Exercise 29:
Create a variable `population` and assign it a large integer value (in billions).

```python
# Exercise 29
```

---

### Exercise 30:
Use a variable to store the result of raising `2` to the power of `8`.

```python
# Exercise 30
```

---

### Exercise 31:
Assign a list of your favorite fruits to a variable `fruits`.

```python
# Exercise 31
```

---

### Exercise 32:
Assign a tuple of three numbers to a variable `coordinates`.

```python
# Exercise 32
```

---

### Exercise 33:
Assign a dictionary with keys `name` and `age` to a variable `person`.

```python
# Exercise 33
```

---

### Exercise 34:
Use variables to store the sum of two floating-point numbers.

```python
# Exercise 34
```

---

### Exercise 35:
Create a variable `is_sunny` and assign it the result of a comparison `10 > 5`.

```python
# Exercise 35
```

---

### Exercise 36:
Assign a string and an integer to two different variables, then print both on one line.

```python
# Exercise 36
```

---

### Exercise 37:
Reassign a variable that originally held a number to a boolean value.

```python
# Exercise 37
```

---

### Exercise 38:
Create a variable `is_weekend` and assign it the result of `False`.

```python
# Exercise 38
```

---

### Exercise 39:
Assign a multi-line string to a variable `description`.

```python
# Exercise 39
```

---

### Exercise 40:
Use variables to store the result of the absolute value of `-25`.

```python
# Exercise 40
```

---

### Exercise 41:
Assign the result of a floor division `100 // 6` to a variable `floor_div_result`.

```python
# Exercise 41
```

---

### Exercise 42:
Assign the result of adding a floating-point number to an integer to a variable `mixed_sum`.

```python
# Exercise 42
```

---

### Exercise 43:
Use variables to store a combination of string concatenation.

```python
# Exercise 43
```

---

### Exercise 44:
Assign an empty list to a variable `empty_list`.

```python
# Exercise 44
```

---

### Exercise 45:
Assign a boolean value based on the comparison of two variables `a = 10` and `b = 15`.

```python
# Exercise 45
```

---

### Exercise 46:
Assign a long sentence to a variable and count its characters using `len()`.

```python
# Exercise 46
```

---

### Exercise 47:
Assign a fractional result `7 / 3` to a variable `division_result`.

```python
# Exercise 47
```

---

### Exercise 48:
Create a variable `speed` and assign it the value of 100 kilometers per hour.

```python
# Exercise 48
```

---

### Exercise 49:
Assign a multi-variable equation like `y = 3x + 5` where `x = 4` to a variable `y`.

```python
# Exercise 49
```

---

### Exercise 50:
Use variables to calculate and store the average of three numbers.

```python
# Exercise 50
```

****

In [ ]:
# exercise 1
x = 10

In [ ]:
# exercise 2
is_valid = True

In [ ]:
# exercise 3
name = "Python programming"

In [ ]:
# exercise 4
x = 5
y = 3
sum_result = x + y
sum_result

8

In [ ]:
# exercise 5
(a,b,c) = (5,10,15)

In [ ]:
# exercise 6
gravity = 9.8

In [ ]:
# exercise 7
country = "Madagascar"

In [ ]:
# exercice 9
age = 25
age = 26
age

26

In [ ]:
result = 20 - 7

In [ ]:
integer = 9
floating = 9.0

In [ ]:
is_completed = False

In [ ]:
x = 3
y = 4
tmp = x
x = y
y = tmp
print(x,y)

4 3

In [ ]:
complex_num = complex(3,4)
complex_num

(3+4j)

In [ ]:
x = str(5)

In [ ]:
first_name = "Tsiky Tafita"
last_name = "RAKOTOHERISOA"

In [ ]:
temperature = 35.5

In [ ]:
product = 8*6

In [ ]:
sentence = "I am Tsiky Tafita."

In [ ]:
int_value = int(str(50))
type(int_value)

int

In [ ]:
quotient = 114/12

In [ ]:
remainder = 47%5
remainder

2

In [ ]:
is_student = True

In [ ]:
res = 45%4

In [ ]:
pi = 3.14159

In [ ]:
length = 34
width = 34
area = length*width

In [ ]:
negative_value = -6

In [ ]:
greeting = "Hello, World!"

In [ ]:
population = 1234567890

In [ ]:
store = 2**8
store

256

In [ ]:
fruits = ['banana', 'water-melon', 'strawberry']
fruits

['banana', 'water-melon', 'strawberry']

In [ ]:
coordinates = ('3', '5', '7')
type(coordinates)

tuple

In [ ]:
person = {'Tsiky': 23, 'Sariaka': 22}
type(person)

dict

In [ ]:
sum = 3.45 + 4.44

In [ ]:
is_sunny = 10 > 5
is_sunny

True

In [ ]:
name = "Tsiky"
age = 20
print(name, age)

Tsiky 20

In [ ]:
z = 4
k = 5
z == k

False

In [ ]:
is_weekend = 6 == 2
is_weekend

False

In [ ]:
description = "I am " +str(20)+ " years old"
description

'I am 20 years old'

In [ ]:
abs(-25)

25

In [ ]:
floor_div_result = 100 // 6
floor_div_result

16

In [ ]:
mixed_sum = 1.0 + 1

In [ ]:
description = "She is " +str(2)+ " years old"
description

'She is 2 years old'

In [ ]:
empty_list = []

In [ ]:
a = 10
b = 15
c = a < b
d = a > b
e = a == b
print(c,d,e)

True False False

In [ ]:
message = "I can count on you"
len(message)

18

In [ ]:
division_result = 7/3

In [ ]:
speed = str(100) + "km per hour"

In [ ]:
x = 4
y = 3*x + 5
y

17

In [ ]:
x = 3
y = 6
z = 7
mean = (x + y + z) / 3