# PyPro: Challenge 2

### This challenge is due on Saturday, October 5th, 2024, at 8pm.

`These exercises offer a diverse array of tasks that assess your comprehension of fundamental Python concepts such as loops, data types, string manipulations, list comprehensions, and higher-order functions.`

| Levels | Level Description | Estimated Completion Time per Exercise |
| :----- | :---------------: | -------------------------------------: |
| L1     | Beginner. The solutions can typically be found in standard textbooks. | 5 - 10 minutes |
| L2     | Intermediate. Requires problem-solving skills. Solutions are not directly found in textbooks. | 10 - 20 minutes |
| L3     | Advanced. You should be capable of using Python to solve more intricate problems involving libraries, data structures, and algorithms. | 20 - 30 minutes |

---

#### Question 1  
**Level 1**

**Task:**  
Develop a program to find all numbers between 2000 and 3200 (inclusive) that are divisible by 7 but not multiples of 5. Display these numbers as a single line of output, separated by commas.

---

In [36]:
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        print(i,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [25]:
",".join(["1", "2"])

'1,2'

#### Question 2  
**Level 1**

**Task:**  
Create a function that computes the factorial of a specified integer. Display the result in a single line of output. For example, if the input is:  
`8`  
Then, the output should be:  
`40320`

In [14]:
def factorial(x):
    f = 1
    for i in range(1,x+1):
        f *= i
    return f

In [15]:
factorial(8)

40320

#### Question 3  
**Level 1**

**Task:**  
Given an integer `n`, generate a dictionary with entries (i, i*i) for all integers from 1 to `n` (inclusive). Print the resulting dictionary. For example, if the input is:  
`8`  
Then, the output should be:  
`{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}`

---

In [16]:
def dic_result(n):
    d = {k:k*k for k in range(1,n+1)}
    return d

In [17]:
dic_result(8)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

#### Question 4  
**Level 1**

**Task:**  
Create a program that reads a series of comma-separated numbers from the console, then generates and prints both a list and a tuple containing those numbers. For example, if the input is:  
`34,67,55,33,12,98`  
The output should be:  
`['34', '67', '55', '33', '12', '98']`  
`('34', '67', '55', '33', '12', '98')`

---

In [18]:
def list_tuple_gen(s:str):
    liste = s.split(",")
    return liste, tuple(liste)

In [22]:
print(list_tuple_gen("34,67,55,33,12,98")[0])
print(list_tuple_gen("34,67,55,33,12,98")[1])

['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

#### Question 5  
**Level 1**

**Task:**  
Create a class that has two methods:  
- `getString`: To accept a string input from the console.  
- `printString`: To display the string in uppercase.  
Include a simple test function to demonstrate the class methods.

---

In [37]:
class Myclass:
    def getString(self,s:str):
        self.s = s
        
    def printString(self):
        print(self.s.upper())

In [39]:
f = Myclass()
f.getString("hello tsiky")
f.printString()

HELLO TSIKY

#### Question 6  
**Level 2**

**Task:**  
Write a program that calculates and prints values based on the formula:  
$$ Q = \sqrt{\frac{2 \times C \times D}{H}} $$  
Here, C and H are fixed constants with values 50 and 30, respectively. `D` is a variable whose values are input to the program as a comma-separated sequence. For example, if the input is:  
`100,150,180`  
Then, the output should be:  
`18,22,24`

---

In [44]:
import math

def calculate_Q(seq:str):
    Q = []
    C, H = 50, 30
    sequence = seq.split(",")
    for i in sequence:
        q = math.sqrt((2*C*int(i)) / H)
        Q.append(str(int(q)))
    return ",".join(Q)

In [45]:
calculate_Q("100,150,180")

'18,22,24'

#### Question 7  
**Level 2**

**Task:**  
Write a program that accepts two numbers, X and Y, as input and generates a 2-dimensional list. The value at the i-th row and j-th column should be the product of `i` and `j`. For example, if the input is:  
`3,5`  
The output should be:  
`[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]`

---

In [48]:
def gen_list(X,Y):
    G = []
    for i in range(X):
        l = []
        for j in range(Y):
            l.append(i*j)
        G.append(l)
    return G

In [49]:
gen_list(3,5)

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

#### Question 8  
**Level 2**

**Task:**  
Write a program that accepts a comma-separated list of words, sorts them alphabetically, and then prints them in a single line, separated by commas. For example, if the input is:  
`without,hello,bag,world`  
The output should be:  
`bag,hello,without,world`

---

In [54]:
def gen_sort(s:str):
    string = s.split(",")
    return ",".join(sorted(string))

In [55]:
gen_sort("without,hello,bag,world")

'bag,hello,without,world'

#### Question 9  
**Level 2**

**Task:**  
Create a program that reads multiple lines of input and outputs each line with all characters converted to uppercase. For example, if the input is:  
`Hello world`  
`Practice makes perfect`  
The output should be:  
`HELLO WORLD`  
`PRACTICE MAKES PERFECT`

---

In [60]:
def text_to_upper(s:str):
    return print(s.upper())

In [61]:
text_to_upper("""Hello world 
Practice makes perfect""")

HELLO WORLD
PRACTICE MAKES PERFECT

#### Question 10  
**Level 2**

**Task:**  
Write a program that reads a sequence of whitespace-separated words, removes all duplicate words, sorts them alphanumerically, and then prints the resulting words. For example, if the input is:  
`hello world and practice makes perfect and hello world again`  
The output should be:  
`again and hello makes perfect practice world`

---

In [65]:
def resulting_words(s:str):
    string = s.split()
    set_string = sorted(set(string))
    
    return " ".join(set_string)

In [66]:
resulting_words("hello world and practice makes perfect and hello world again")

'again and hello makes perfect practice world'

#### Question 11  
**Level 2**

**Task:**  
Create a program that takes a sequence of 4-digit binary numbers, checks which ones are divisible by 5, and prints them as a comma-separated sequence. For example, if the input is:  
`0100,0011,1010,1001`  
The output should be:  
`1010`  
Note: Assume the input is provided through the console.

---

In [69]:
def check_binary(s:str):
    string = s.split(",")
    value = []
    for i in string:
        if int(i, base=2)%5==0:
            value.append(i)
    return value

In [70]:
check_binary("0100,0011,1010,1001")

['1010']

#### Question 12  
**Level 2**

**Task:**  
Develop a program that finds all numbers between 1000 and 3000 (inclusive) where each digit is an even number. Print the results as a comma-separated sequence in a single line.

---

In [95]:
for i in range(1000,3001):
    l = []
    for j in str(i):
        if int(j)%2==0:
            l.append(j)
    if len(l)==4:
        print("".join(l), end=",")

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

#### Question 13  
**Level 2**

**Task:**  
Write a program that counts the number of letters and digits in a given sentence. For example, if the input is:  
`hello world! 123`  
The output should be:  
`LETTERS 10`  
`DIGITS 3`

---

In [103]:
x = "hello world! 123"
letters = 0
digits = 0

for i in x:
    if i.isdigit():
        digits += 1
    if i.isalpha():
        letters += 1
print(f"letters {letters} \ndigits {digits}")

letters 10
digits 3

#### Question 14  
**Level 2**

**Task:**  
Create a program that counts and prints the number of uppercase and lowercase letters in a given sentence. For example, if the input is:  
`Hello world!`  
The output should be:  
`UPPER CASE 1`  
`LOWER CASE 9`

---

In [104]:
x = "Hello world! 123"
upper = 0
lower = 0

for i in x:
    if i.isupper():
        upper += 1
    if i.islower():
        lower += 1
print(f"lower case {lower} \nupper case {upper}")

lower case 9
upper case 1

# Question 15  
**Level 2**

**Task:**  
Write a program that calculates the value of `a + aa + aaa + aaaa` given a digit as the value of `a`. For example, if the input is:  
`9`  
The output should be:  
`11106`

---

In [120]:
x = 9
s = "a + aa + aaa + aaaa"
t = s.replace('a','9')
t.split("+")
total = 0
for i in t.split("+"):
        total += int(i)
print(total)

11106

#### Question 16  
**Level 2**

**Task:**  
Use a list comprehension to generate a list of squares for each odd number in a given sequence of comma-separated values. For example, if the input is:  
`1,2,3,4,5,6,7,8,9`  
The output should be:  
`1,3,5,7,9`

---

In [146]:
sequence = "1,2,3,4,5,6,7,8,9"
s = sequence.split(",")
    
L = [i for i in s if int(i)%2!=0]
print(",".join(L))

1,3,5,7,9

#### Question 17  
**Level 2**

**Task:**  
Create a program that calculates the net amount in a bank account based on a transaction log input. The log format is:  
`D 100` (Deposit 100)  
`W 200` (Withdraw 200)  
Suppose the following input is provided:  
`D 300`  
`D 300`  
`W 200`  
`D 100`  
The output should be:  
`500`

---

In [170]:
total_amount = 0

history = "D 300, D 300, W 200, D 100"

h = history.split(",")
print(h)
for i in h:
    if "D" in i:
        i = i.replace("D", "")
        total_amount += int(i)
    if "W" in i:
        i = i.replace("W", "")
        total_amount -= int(i)
print(total_amount)

['D 300', ' D 300', ' W 200', ' D 100']
500

#### Question 18  
**Level 3**

**Task:**  
Write a program that checks the validity of passwords based on the following criteria:  
1. At least one lowercase letter [a-z]  
2. At least one digit [0-9]  
3. At least one uppercase letter [A-Z]  
4. At least one character from [$#@]  
5. Minimum length of 6 characters  
6. Maximum length of 12 characters  
Input is provided as a sequence of comma-separated passwords. Valid passwords should be printed, separated by commas. For example, if the input is:  
`ABd1234@1,a F1#,2w3E*,2We3345`  
The output should be:  
`ABd1234@1`

---

In [172]:
password = "ABd1234@1,a F1#,2w3E*,2We3345"
passwd = password.split(",")
for i in passwd:
    if not i.isupper() and not i.islower() and not i.isdigit() and len(i)<=12 and len(i)>=6 and i:
        for ch in "[$#@]":
            if ch in i:
                print(i)

ABd1234@1

#### Question 19  
**Level 3**

**Task:**  
Create a program that sorts a list of (name, age, height) tuples based on the following priority:  
1. Name (alphabetically)  
2. Age (numerically)  
3. Height (numerically)  
For example, if the input is:  
`Tom,19,80`  
`John,20,90`  
`Jony,17,91`  
`Jony,17,93`  
`Json,21,85`  
The output should be:  
`[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]`

---

#### Question 20  
**Level 3**

**Task:**  
Define a class that includes a generator to yield numbers divisible by 7 within a given range from 0 to n.

---

#### Question 21  
**Level 3**

**Task:**  
A robot moves on a grid starting from the origin

 point (0,0). It can move UP, DOWN, LEFT, or RIGHT by a specified number of steps. Write a program to calculate the distance from the current position to the origin after a series of movements. If the distance is a float, print the nearest integer. For example, if the input is:  
`UP 5`  
`DOWN 3`  
`LEFT 3`  
`RIGHT 2`  
The output should be:  
`2`

---

#### Question 22  
**Level 3**

**Task:**  
Create a program to calculate the frequency of words from the input. Display the output with the keys sorted alphabetically. For example, if the input is:  
`New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.`  
The output should be:  
`2:2`  
`3.:1`  
`3?:1`  
`New:1`  
`Python:5`  
`Read:1`  
`and:1`  
`between:1`  
`choosing:1`  
`or:2`  
`to:1`

---

#### Question 23  
**Level 1**

**Task:**  
Create a function that calculates and returns the square of a given number.

---

#### Question 24  
**Level 1**

**Task:**  
Python provides built-in documentation for each built-in function. Create a program that displays the documentation for `abs()`, `int()`, and `raw_input()`. Also, add documentation for a user-defined function.

---

#### Question 25  
**Level 1**

**Task:**  
Define a class with both a class attribute and an instance attribute of the same name. Show the difference between the two by printing the class attribute and the instance attribute separately.

---